<link rel="stylesheet" href="./css/header2.css">
<script src="./script/header2.js"></script>

<header class="c-header2" data-component="header2" role="banner">
  <div class="c-header2__inner">
    <h1 class="c-header2__logo"><a href="/">DUNOPI Dark</a></h1>

    <button class="c-header2__toggle" aria-expanded="false" aria-controls="c-header2-nav">☰</button>

    <nav class="c-header2__nav" id="c-header2-nav" aria-label="주 메뉴">
      <ul class="c-header2__menu">
        <li><a href="#">회사소개</a></li>
        <li><a href="#">포트폴리오</a></li>
        <li><a href="#">채용</a></li>
        <li><a href="#">연락처</a></li>
      </ul>
    </nav>
  </div>
</header>
