<link rel="stylesheet" href="./css/header3.css">

<header class="c-header3" data-component="header3">
  <div class="c-header3__top">
    <!-- 좌측 작은 로고 -->
    <div class="logo-small">◼</div>

    <!-- 중앙 큰 로고 -->
    <div class="logo-large">LOGO</div>

    <!-- 우측 아이콘 -->
    <div class="icon">◎</div>
  </div>

  <nav class="c-header3__nav">
    <ul>
      <li><a href="#">Menu 1</a></li>
      <li><a href="#">Menu 2</a></li>
      <li><a href="#">Menu 3</a></li>
      <li><a href="#">Menu 4</a></li>
    </ul>
  </nav>
</header>
