<link rel="stylesheet" href="./css/section2.css">
<script src="./script/section2.js"></script>

<section class="c-section2" data-component="section2">
  <div class="c-section2__inner">
    <h3>주요 서비스</h3>
    <ul class="c-section2__list">
      <li>
        <img src="https://picsum.photos/200/140?random=211" alt="">
        <h4>웹 퍼블리싱</h4>
        <p>표준/접근성 준수, 반응형 구축</p>
      </li>
      <li>
        <img src="https://picsum.photos/200/140?random=212" alt="">
        <h4>UI/UX 디자인</h4>
        <p>일관된 디자인 시스템과 프로토타이핑</p>
      </li>
      <li>
        <img src="https://picsum.photos/200/140?random=213" alt="">
        <h4>브랜딩</h4>
        <p>톤앤매너 정립과 컴포넌트 가이드</p>
      </li>
    </ul>
  </div>
</section>
